- if ojee
  = javascript_include_tag "uva.js"
  .ojstat#uva
    %h3 UVa Stat
    %ul
      %li= ojee.name
      %li= ojee.userid
      %li= ojee.solved_count
    %p 
      - ojee.problems_solved.each do |p|
        %a{:class => 'prob_link'}= p
    = link_to 'Edit', edit_oier_uva_ojee_path(@oier,ojee)
    = link_to 'Update', update_stat_oier_uva_ojee_path(@oier,ojee)
    -#= button_to 'Delete', oier_tioj_ojee_path(@oier,ojee), :confirm => "Are you sure?", :method => :delete