= simple_form_for @assignment, :class => :simple_form_for do |f| 
  = f.input :title
  = f.input :due_time
  = f.association :assigned_to, :as => :check_boxes
  = f.input :description
  = f.button :submit
