= simple_form_for @assignment do |f| 
  - if @assignment.errors.any? 
    #error_explanation
      %h2 #{pluralize(@assignment.errors.count, "error")} prohibited this account from being saved:
      %ul
        - @assignment.errors.full_messages.each do |msg| 
          %li= msg
  = f.input :title
  = f.input :due_time
  = f.association :assigned_to, :as => :check_boxes
  = f.button :submit
