- content_for :sidebar do
  %ul
    - menu_for "Assignments" do    
      %li= link_to "Current Assignments", "#current_assignments", :class => 'selected'
      %li= link_to "Past Assignments", "#past_assignments"

- @assignments.each do |assign|
  - class_list = gen_class_list(assign) 
  %div{:class => ["assignment"] + class_list}
    .title-bar
      %h3=link_to assign.title, assign
      .due-time
        -if assign.due?
          %em= "Already Ended"
        -else
          %em= "Ended in #{distance_of_time_in_words_to_now(assign.due_time)}"
    %p= truncate(assign.description, :length => 280)
    - if can? :destroy, assign
      %td= link_to "Delete this assignment", assign, :confirm => 'Are you sure?', :method => :delete
= link_to "Create New" , new_assignment_path