- content_for :sidebar do
  %ul
    %li=link_to "<< Back", assignments_path
    
.title-bar
  %h3= @assignment.title
  .options
    %p
      -if @assignment.due?
        %em= "Already Ended"
      -else
        %em= "Ended in #{distance_of_time_in_words_to_now(@assignment.due_time)}"
      -if can? :update, @assignment
        = link_to "Edit", edit_assignment_path(@assignment)
.assign_items_table
  %table
    - @items.each do |item|
      %tr{:class => cycle('odd','even')}
        %td= item.title
        - if can? :update, item
          %td= link_to "Edit", edit_assignment_item_path(@assignment,item)
        - if @assignment.assigned_to?(current_oier)
          %td
            - status = item.status_of(current_oier) 
            %p{:class =>['label',status]}= status
        %td= button_to "Hand In", hand_in_assignment_item_path(@assignment,item)
        
        - if can? :destroy, item
          %td= button_to "Delete", assignment_item_path(@assignment,item), 
        :confirm => 'Are you sure?', :method => :delete
  = link_to "New Item", new_assignment_item_path(@assignment)
    
= render "assign_stats"