<%= form_for(@oier) do |f| %>
  <% if @oier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oier.errors.count, "error") %> prohibited this oier from being saved:</h2>

      <ul>
      <% @oier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
