= javascript_include_tag "uva.js"
.ojstats#uva
  .title-bar
    %h3
      =link_to "UVa", "#UVa", :name => 'UVa'
    .options
      = "#{ojee.solved_count} solved"
  %p 
    - ojee.problems_solved.each do |p|
      %a{:class => ['prob_link','noicon']}= p
  = link_to 'Edit', edit_oier_ojee_path(@oier,ojee)
  = link_to 'Delete', oier_ojee_path(@oier,ojee), :confirm => "Are you sure?", :method => :delete