.ojstats#zerojudge
  .title-bar
    %h3
      =link_to "ZeroJudge", "#ZeroJudge", :name => 'ZeroJudge'
    .options
      #update_error{:style => "color:red;display:none"}
      #number{:style => "display:inline"}= "#{ojee.solved_count} solved"
      .button
        = button_to "Update", update_stats_oier_ojee_path(@oier,ojee), :remote => true, :class => 'update_button'
  %p 
    - ojee.problems_solved.each do |p|
      %a{:class => ['prob_link','noicon']}= p
  - if can? :modify, ojee
    = link_to 'Edit', edit_oier_ojee_path(@oier,ojee)
    = link_to 'Delete', oier_ojee_path(@oier,ojee), :confirm => "Are you sure?", :method => :delete