- content_for :sidebar do
  %ul
    - menu_for "Oier Rank" do
      %li= link_to "PSCD Oier", oiers_path, :class => 'selected'
      %li= link_to "My Oier Stats"
      
%article
  %h2 Oier in PSCD
  / TODO Modify the title of each page to the side bar 
  %table
    %thead
      %tr.odd
        %th
        - Ojee::OJ_TYPES.each do |ojtype|
          %th= ojtype
    %tbody
      - @oiers.each do |oier| 
        %tr{:class => cycle('odd','even')}
          %td= link_to "#{oier.name}", oier 
          - Ojee::OJ_TYPES.each do |ojtype|
            %td= ojee_for(oier,ojtype).solved_count != 0 ? ojee_for(oier,ojtype).solved_count : 'N/A'      