%h3= @code.title
created by #{@code.creator}

%p 
  %b Description
  = @code.description
%pre{:class => "brush: cpp;"}
  = "\n" + @code.source

= link_to 'Edit', edit_code_path(@code)
= link_to 'Back', codes_path
