%h3= @code.title
%em created by #{@code.creator}
%em tagged with #{@code.tag_list} 
%pre{:class => "brush: cpp;"}
  = "\n" + @code.source

= link_to 'Edit', edit_code_path(@code)
= link_to 'Back', codes_path
