<h1>Library</h1>


<% @books.each do |book| %>
  <div id='book_entry'>
		<p>
    <strong><%= book.name %></strong><br>
    <%= image_tag book.image_url, 
				:title => "title", 
				:class => "class",
				:size  => "200x300"  %></br>
    <% if book.bookshelf%>
		   <p>The Book is already borrowed by <%= book.bookshelf.name %></p>
		<% else%>
			<%= button_to 'Borrow' , :action => "borrow_book",:book_id => book %>
		<% end %>
		<%= link_to 'Show', book %>
    <%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	</div>
<% end %>

<%= link_to 'New Book', new_book_path %>
