<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @book.image_url %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
