= form_for [@oier,@ojee] do |f| 
  - if @ojee.errors.any? 
    #error_explanation
      %h2 #{pluralize(@ojee.errors.count, "error")} prohibited this account from being saved:
      %ul
        - @ojee.errors.full_messages.each do |msg| 
          %li= msg
  .field
    = f.label :name
    %br
    = f.text_field :name
  .actions
    = f.submit
