<!DOCTYPE html>
%html
  %head
  %title Blog
  = stylesheet_link_tag :all 
  = javascript_include_tag :defaults 
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
  = javascript_include_tag "jquery_ujs.js"
  = csrf_meta_tag 
  %body
    #header
      %h1 Code Rush
      %em A Site for your community to train Oier
    /
      #nav
        %ul
          %li 
            %a Your code snipset
          %li 
            %a Lastest topic
    #sidebar
      %ul        
        %li= link_to "Oier Rank", oiers_path    
        %li Homework        
        %li Forum        
        %li Announcement        
        %li Code Snippset
    #content
      %p.notice= notice
      %p.alert= alert
      = yield 
    #footer
      %p Code Rushed Designed by Circ27th, All Right Preserved