<!DOCTYPE html>
%html
  %head
  %title Code Rush
  -#= stylesheet_link_tag :all 
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  = stylesheet_link_tag 'link_icons.css', :media => 'screen, projection'
  = stylesheet_link_tag 'buttons.css', :media => 'screen, projection'
  = stylesheet_link_tag 'shCoreMidnight.css'
  = stylesheet_link_tag 'facebox.css'
  = stylesheet_link_tag 'jquery-ui-1.8.13.custom.css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Bangers&v2'
  = javascript_include_tag :defaults 
  = javascript_include_tag "jquery-ui-1.8.13.custom.min.js"
  = javascript_include_tag "facebox.js"
  = javascript_include_tag "shCore.js"
  = javascript_include_tag "shBrushCpp.js"
  = yield :javascript
  
  = csrf_meta_tag
  %body.bp.two-col.showgrid
    #container
      #header
        %h1 Code Rush
        %nav#main-nav
          %ul
            %li 
              =link_to "Main Page", root_path
            %li
              =link_to "About" #about_path, :ref => "about" 
        %nav#login-nav
          %ul
            - if current_user 
              %li= link_to "Edit Settings", edit_user_registration_path
              %li= link_to "Sign Out", destroy_user_session_path 
            - else
              %li= link_to "Sign In", new_user_session_path
      #page
        %aside#sidebar
          = render "shared/main_user_info"
          = yield :sidebar
        = yield
      -##footer
      -#  %p Code Rush Designed by Circ27th, All Right Preserved